@charset "utf-8";

html, body{font-size:16px;}
body{overflow-x:hidden;}
.wrap{position:relative;}
html, body, .wrap, .main_container, .fullscreen{width:100%;height:100%;}

/* 마우스포인터 */
.pointer{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);background:#ffca00;width:24px;height:24px;border-radius:50%;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:1000;}
.pointer.on{width:48px;height:48px;opacity:0.5;}

/* 본문내용 */
.main_container{position:relative;overflow:hidden;z-index:1;}
.container{position:relative;overflow:hidden;z-index:1;}

/* 상단 */
#header_wrap{position:fixed;top:0;left:0;width:100%;display:flex;justify-content:center;z-index:20;}
.header{position:relative;width:calc(100% - 160px);height:100px;display:flex;align-items:center;justify-content:space-between;}
.header .logo{width:19%;}
.header .logo a{display:block;width:127px;height:30px;background:url('../../images/common/logo.png') no-repeat 0 0/100%;}
.header .gnb ul{display:flex;}
.header .gnb ul li{position:relative;}
.header .gnb ul li a{position:relative;display:block;font-size:20px;font-weight:600;color:#fff;padding:0 40px;}
.header .gnb ul li:nth-child(3) a:before{content:'';position:absolute;top:0;right:19%;width:6px;height:6px;background:#ff264a;border-radius:100%;}
.header .gnb ul li a:after{content:'';position:absolute;bottom:-5px;left:50%;width:0%;height:3px;background:#fff;transition:all 0.3s ease-in-out;}
.header .gnb ul li a:hover:after,
.header .gnb ul li a.on:after{content:'';position:absolute;bottom:-5px;left:50%;transform:translateX(-50%);width:55%;height:3px;background:#fff;}
.header .util{display:flex;}
.header .util a{display:inline-block;}
.header .util .util_member{width:180px;line-height:40px;text-align:center;background:rgba(20,20,20,0.2);border-radius:30px;}
.header .util .util_member a{font-size:18px;color:#b1b5b6;margin:0 13px;}
.header .util .util_member a.on{color:#fff;}
.header .util .util_insta{width:40px;height:40px;background:rgba(20,20,20,0.2) url('../../images/common/ico_insta.png') no-repeat 50% 50%;border-radius:100%;margin-left:40px;transition:all 0.3s ease-in-out;}
.header .util .util_insta:hover{background-color:rgba(20,20,20,0.6);}
.header .util .util_facebook{width:40px;height:40px;background:rgba(20,20,20,0.2) url('../../images/common/ico_facebook.png') no-repeat 50% 50%;border-radius:100%;margin-left:20px;transition:all 0.3s ease-in-out;}
.header .util .util_facebook:hover{background-color:rgba(20,20,20,0.6);}

/* 서브상단 */
#header_wrap.sub_header{background:#444;;}

/* 모바일 - 반려인/사장님 */
.mo_member{display:none;}
.mo_member a{font-size:18px;color:#fff;text-align:center;}
.mo_member dt a{display:block;width:100px;line-height:40px;background:rgba(20,20,20,0.2) url('../../images/common/ico_down.png') no-repeat scroll 80% 50%/9px;border-radius:30px;padding-right:20px;z-index:1;}
.mo_member dt a span{cursor:pointer;display:block;}
.mo_member dd{position:relative;}
.mo_member dd ul{display:none;position:absolute;left:0px;background:rgba(20,20,20,0.2) none repeat scroll 0 0;border-radius:20px;padding:10px 0 10px;z-index:-1;}
.mo_member dd ul li a{display:block;width:100px;padding:2px 20px 2px 0;font-size:16px;}
.mo_member dd ul li a:hover{color:#ffca00;}

/* 모바일 메뉴 open */
.btn_nav_open{display:none;width:48px;height:48px;background:url('../../images/common/ico_nav.png') no-repeat 50% 50%/50%;}

.mo_nav_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:999;transition:all 0.1s ease-in-out;visibility:hidden;}
.mo_nav_wrap.on{visibility:visible;}
.mo_nav_wrap .mo_nav_inner{position:absolute;left:auto;right:-100%;width:100%;height:100%;padding:0 20px;background-color:#0b0b0d;transition:all 0.3s ease-in-out;opacity:0;}
.mo_nav_wrap.on .mo_nav_inner{left:auto;right:0;visibility:visible;opacity:1;}

.mo_nav_wrap .mo_nav_inner .mo_top{position:relative;height:70px;padding:20px 0;}
.mo_nav_wrap .mo_nav_inner .mo_top .logo{float:left;}
.mo_nav_wrap .mo_nav_inner .mo_top .logo a{display:block;width:103px;height:30px;background:url('../../images/common/logo.png') no-repeat 0 0/100%;}
.mo_nav_wrap .mo_nav_inner .mo_top .util_member{position:relative;float:right;margin-right:49px;}
.mo_nav_wrap .mo_nav_inner .mo_top .util_member:after{content:'';position:absolute;top:50%;left:50%;transform:translate(0, -50%);width:1px;height:10px;background:#555556;z-index:10;}
.mo_nav_wrap .mo_nav_inner .mo_top .util_member a{display:inline-block;font-size:14px;color:#a5a5a6;line-height:30px;font-weight:500;}
.mo_nav_wrap .mo_nav_inner .mo_top .util_member a.on{color:#ffca00;font-weight:600;}
.mo_nav_wrap .mo_nav_inner .mo_top .util_member a:nth-child(2){margin-left:15px;padding-left:15px;}
.mo_nav_wrap .mo_nav_inner .mo_top .btn_close{display:block;position:absolute;width:36px;height:36px;right:-9px;top:16px;background:url('../../images/common/ico_close.png') no-repeat 50% 50%/50%;}

.mo_nav_wrap .mo_nav_inner .mo_gnb a{display:block;font-size:18px;color:#fff;line-height:80px;}

.mo_nav_wrap .mo_nav_inner .mo_custmer{padding-top:15px;margin-top:20px;border-top:1px solid #3c3c3d;}
.mo_nav_wrap .mo_nav_inner .mo_custmer dt{display:block;font-size:14px;color:#fff;font-weight:400;margin-top:35px;}
.mo_nav_wrap .mo_nav_inner .mo_custmer dd{display:block;font-size:14px;color:#b9b9b9;font-weight:350;margin-top:10px;}
.mo_nav_wrap .mo_nav_inner .mo_custmer .ico_cacao{display:inline-block;width:20px;height:20px;background:url('../../images/common/ico_cacao.png') no-repeat 50% 50%/100%;margin:1px 6px 6px 6px;vertical-align:top;}
.mo_nav_wrap .mo_nav_inner .mo_sns{margin-top:50px;}
.mo_nav_wrap .mo_nav_inner .mo_sns .mo_insta{display:inline-block;width:32px;height:32px;background:rgba(255,255,255,0.2) url('../../images/common/ico_insta.png') no-repeat 50% 50%/50%;border-radius:100%;}
.mo_nav_wrap .mo_nav_inner .mo_sns .mo_facebook{display:inline-block;width:32px;height:32px;background:rgba(255,255,255,0.2) url('../../images/common/ico_facebook.png') no-repeat 50% 50%/50%;border-radius:100%;margin-left:12px;}

/* 하단 */
#footer_wrap{width:100%;background:#232326;display:flex;justify-content:center;}
.footer{position:relative;width:calc(100% - 160px);height:auto;display:flex;justify-content:space-between;margin:114px 0 0;padding-bottom:80px;font-size:16px;font-weight:400;color:#bcbcbd;}
.footer dt{margin-bottom:10px;color:#fff;}
.footer dd{margin-bottom:10px;}
.footer .ft_info1{width:13%;}
.footer .ft_info2{width:31%;}
.footer .ft_info2 dt{display:inline-block;width:115px;vertical-align:top;}
.footer .ft_info2 dd{display:inline-block;width:320px;}
.footer .ft_info3{width:24%;}
.footer .ft_info3 dt{display:inline-block;width:100px;vertical-align:top;}
.footer .ft_info3 dd{display:inline-block;width:230px;}
.footer .ft_info3 .ico_cacao{display:inline-block;width:26px;height:26px;background:url('../../images/common/ico_cacao.png') no-repeat 50% 50%;margin:-3px 10px 10px 10px;vertical-align:top;}
.footer .ft_sns{margin-top:31px;}
.footer .ft_sns a{display:inline-block;width:180px;text-align:center;font-size:14px;color:#fff;padding:16px 0 16px 30px;border:2px solid #919193;border-radius:50px;}
.footer .ft_sns a:hover{border-color:#c4c4c6;transition:all 1s ease;}
.footer .ft_sns .ft_sns_android{background:url('../../images/common/ico_android.png') no-repeat 32px 50%;}
.footer .ft_sns .ft_sns_iso{background:url('../../images/common/ico_iso.png') no-repeat 42px 50%;margin-left:30px;}

.footer .ft_mo{display:none;position:absolute;top:0;right:20px;}
.footer .ft_mo .util_insta{display:inline-block;width:32px;height:32px;background:rgba(20,20,20,0.2) url('../../images/common/ico_insta.png') no-repeat 50% 50%/16px;border-radius:100%;}
.footer .ft_mo .util_facebook{display:inline-block;width:32px;height:32px;background:rgba(20,20,20,0.2) url('../../images/common/ico_facebook.png') no-repeat 50% 50%/16px;border-radius:100%;margin-left:15px;}

/* 하단 */
.fullscreen .footer_section{display:flex;width:100%;height:350px !important;z-index:999;}


/* 반응형 */
@media all and (max-width:1920px) {
}

@media all and (max-width:1550px) {
    .footer{margin-top:80px;}
    .footer dt{margin-bottom:0;}
}

@media all and (max-width:1440px) {
    /* 상단 */
    .header .logo{width:auto;}
    .header .gnb ul li a{padding:0 25px;}
    .header .gnb ul li a.on:after{width:70%;}
    .header .gnb ul li:nth-child(3) a:before{right:14%;}
    .header .util .util_insta{margin-left:20px;}
    .header .util .util_facebook{margin-left:10px;}

    /* 하단 */
    .footer .ft_sns{margin-top:0;}
    .footer .ft_sns a{display:block;}
    .footer .ft_sns .ft_sns_iso{margin-left:0;margin-top:10px;}
}

@media all and (max-width:1024px) {
    /* 상단 */
    .header{width:calc(100% - 80px);}
    .header .gnb ul li a{padding:0 14px;}
    .header .gnb ul li a.on:after{width:80%;}
    .header .gnb ul li:nth-child(3) a:before{right:7%;}
    .header .util .util_member{width:150px;}
    .header .util .util_member a{margin:0 6px;}
    .header .util .util_insta{margin-left:10px;}
    .header .util .util_facebook{margin-left:5px;}

    .footer{position:relative;width:calc(100% - 80px);}
}

@media all and (max-width:980px) {
    /* PC 네비 */
    .header{display:block;height:70px;}
    .header .logo{float:left;margin-top:20px;}
    .header .gnb{display:none;}
    .header .util{float:right;margin-right:64px;margin-top:20px;}
    .header .util .util_insta{display:none;}
    .header .util .util_facebook{display:none;}
    .header .util .util_member{display:none;}

    /* MO 네비 */
    .btn_nav_open{display:block;position:absolute;top:16px;right:0;}
    .mo_member{display:block;}

    .pointer{display:none;}

     /* 하단 */
    .footer{margin-top:40px;}
    .footer .ft_info1{width:15%;}
    .footer .ft_info2 dd{width:100%;}
}

@media all and (max-width:800px) {   
    /* 하단 */ 
    .fullscreen .footer_section{height:470px !important;}    
    .footer{display:block;font-size:14px;overflow:hidden;}
    .footer .ft_info1{float:left;width:50%;}
    .footer .ft_info2{float:left;width:50%;}
    .footer .ft_info3{float:left;width:50%;margin-top:30px;}
    .footer .ft_sns{float:left;width:50%;margin-top:30px;}
}
    

/* 모바일 */
@media all and (max-width:720px) {
    
}

@media all and (max-width:640px) {
    /* 상단 */ 
    .header{width:calc(100% - 40px);}
    .header .logo a{width:103px;}
    .btn_nav_open{top:10px;right:-6px;}

    .mo_member a{font-size:12px;}
    .mo_member dt a{width:80px;line-height:30px;padding-right:10px;}
    .mo_member dd ul{padding:10px 0 10px;border-radius:20px;}
    .mo_member dd ul li a{width:80px;padding:3px 10px 3px 0;font-size:12px;}

    /* 하단 */ 
    .fullscreen .footer_section{height:520px !important;}
    .footer{width:calc(100% - 40px);font-size:12px;margin-top:73px;}
    .footer .ft_info1{float:none;width:100%;}
    .footer .ft_info2{float:none;width:100%;margin-top:46px;}
    .footer .ft_info2 dt{width:22vw;}
    .footer .ft_info2 dd{width:73%;}
    .footer .ft_info3{float:none;width:100%;margin-top:26px;}
    .footer .ft_info3 dt{width:22;}
    .footer .ft_info3 dd{width:73%;}
    .footer .ft_info3 .ico_cacao{width:20px;height:20px;background-size:100%;}
    .footer .ft_sns{float:none;width:100%;margin-top:36px;text-align:center;}
    .footer .ft_sns a{display:inline-block;width:37.3333vw;padding:12px 0 12px 15px;font-size:12px;}
    .footer .ft_sns .ft_sns_android{background-size:15px;background-position:22px 50%;}
    .footer .ft_sns .ft_sns_iso{margin:0 0 0 16px;background-size:15px;background-position:22px 50%;}

    .footer .ft_mo{display:block;}
}

@media all and (max-width:480px) {
    .fullscreen .footer_section{height:550px !important;}
}

@media all and (max-width:360px) {
    
}

