@charset "utf-8";

html, body{font-size:16px;}
.wrap{position:relative;}

html, body, .wrap, .main_container, .fullscreen{width:100%;height:100%;}

/* 마우스포인터 */
.pointer2{position:absolute;width:24px;height:24px;border-radius:50px;background:#ffca00;/* transition:all 0.5s ease-out; */z-index:10;}
.pointer2.on{width:48px;height:48px;margin:-12px -12px;opacity:50%;}

/* 본문 */
.main_container{position:relative;overflow:hidden;}
.container{position:relative;}
.sub_visual{background:#444;width:100%;height:200px;}
.content{min-height:500px;}

/* 상단 */
#header_wrap{position:fixed;top:0;left:0;width:100%;display:flex;justify-content:center;z-index:10;}
.header{position:relative;width:calc(100% - 160px);height:100px;display:flex;align-items:center;justify-content:space-between;}
.logo{width:19%;}
.logo a{display:block;width:127px;height:30px;background:url('../../images/common/logo.png') no-repeat 0 0/100%;}
.gnb ul{display:flex;}
.gnb ul li{position:relative;}
.gnb ul li:nth-child(3):after{content:'';position:absolute;top:0;right:20px;width:6px;height:6px;background:#ff264a;border-radius:100%;}
.gnb ul li a{position:relative;display:block;font-size:20px;font-weight:600;color:#fff;padding:0 40px;}
.gnb ul li a:after{content:'';position:absolute;bottom:-5px;left:50%;width:0%;height:3px;background:#fff;transition:all 0.3s ease-in-out;}
.gnb ul li a:hover:after,
.gnb ul li a.on:after{content:'';position:absolute;bottom:-5px;left:50%;transform:translateX(-50%);width:55%;height:3px;background:#fff;}
.util{display:flex;}
.util a{display:inline-block;}
.util .util_member{width:180px;line-height:40px;text-align:center;background:rgba(20,20,20,0.2);border-radius:30px;}
.util .util_member a{font-size:18px;color:#b1b5b6;margin:0 13px;}
.util .util_member a.on{color:#fff;}
.util .util_insta{width:40px;height:40px;background:rgba(20,20,20,0.2) url('../../images/common/ico_insta.png') no-repeat 50% 50%;border-radius:100%;margin-left:40px;transition:all 0.3s ease-in-out;}
.util .util_insta:hover{background-color:rgba(20,20,20,0.6);}
.util .util_facebook{width:40px;height:40px;background:rgba(20,20,20,0.2) url('../../images/common/ico_facebook.png') no-repeat 50% 50%;border-radius:100%;margin-left:20px;transition:all 0.3s ease-in-out;}
.util .util_facebook:hover{background-color:rgba(20,20,20,0.6);}

/* 하단 */
#footer_wrap{width:100%;background:#232326;display:flex;justify-content:center;}
.footer{position:relative;width:calc(100% - 160px);height:auto;display:flex;justify-content:space-between;margin-top:114px;font-size:16px;font-weight:400;color:#bcbcbd;}
.footer dt{margin-bottom:10px;color:#fff;}
.footer dd{margin-bottom:10px;}
.footer .ft_info1{width:13%;}
.footer .ft_info2{width:31%;}
.footer .ft_info2 dt{display:inline-block;width:115px;}
.footer .ft_info2 dd{display:inline-block;width:340px;}
.footer .ft_info3{width:24%;}
.footer .ft_info3 dt{display:inline-block;width:100px;vertical-align:top;}
.footer .ft_info3 dd{display:inline-block;width:230px;}
.footer .ft_info3 .ico_cacao{display:inline-block;width:26px;height:26px;background:url('../../images/common/ico_cacao.png') no-repeat 50% 50%;margin:-3px 10px 10px 10px;vertical-align:top;}
.footer .ft_sns{margin-top:31px;}
.footer .ft_sns a{display:inline-block;width:180px;text-align:center;font-size:14px;color:#fff;padding:16px 0 16px 30px;border:2px solid #919193;border-radius:50px;}
.footer .ft_sns a:hover{border-color:#c4c4c6;transition:all 1s ease;}
.footer .ft_sns .ft_sns_android{background:url('../../images/common/ico_android.png') no-repeat 32px 50%;}
.footer .ft_sns .ft_sns_iso{background:url('../../images/common/ico_iso.png') no-repeat 42px 50%;margin-left:30px;}



/* 반응형 */
@media all and (max-width:1920px) {
}

@media all and (max-width:1440px) {
    /* 상단 */
    .logo{width:auto;}
    .gnb ul li a{padding:0 25px;}
    .gnb ul li a.on:after{width:70%;}
    .util .util_insta{margin-left:20px;}
    .util .util_facebook{margin-left:10px;}

    /* 하단 */
    .footer{margin-top:80px;}
    .footer dt{margin-bottom:0;}
    .footer .ft_sns{margin-top:0;}
    .footer .ft_sns a{display:block;}
    .footer .ft_sns .ft_sns_iso{margin-left:0;margin-top:10px;}
}

@media all and (max-width:1024px) {
    html, body{font-size:14px;}

    /* 상단 */
    .header{width:calc(100% - 80px);}
    .gnb ul li a{padding:0 14px;}
    .gnb ul li a.on:after{width:80%;}
    .util .util_member{width:150px;}
    .util .util_member a{margin:0 6px;}
    .util .util_insta{margin-left:10px;}
    .util .util_facebook{margin-left:5px;}
}

@media all and (max-width:980px) {
    /* PC 상단 */
    .gnb{display:none;}

}

@media all and (max-width:720px) {
    .pointer2{display:none;}
}

@media all and (max-width:680px) {
    html, body{font-size:12px;}
}

@media all and (max-width:360px) {
}

