@charset "utf-8";

.fullscreen{
    position: relative;
    height: 100%;
}
.fullscreen .swiper-slide {
} 
.fullscreen .swiper-slide .inner{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.fullscreen .swiper-slide img {
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:0;
}

.fullscreen .swiper-slide .mo {
    display:none;
}

/* 텍스트 */
.fullscreen .swiper-slide .text_wrap {
    position:absolute;
    left:12.5%;
    right:0;
    color:#fff;
    z-index:10;
} 
.fullscreen .swiper-slide.section03 .text_wrap, 
.fullscreen .swiper-slide.section05 .text_wrap{
    left:50%;
    margin-left:12%;
}
.fullscreen .swiper-slide .tag {
    font-size:18px;
    font-weight:500;
    margin-bottom:10px;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.6s ease-in-out 0.1s, opacity 1s ease-in-out 0.10s;
}
.fullscreen .swiper-slide .tag span {
    display:inline-block;
    margin-right:18px;
}
.fullscreen .swiper-slide .title {
    font-size:60px;
    font-weight:600;
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.6s ease-in-out 0.4s, opacity 1s ease-in-out 0.10s;    
}
.fullscreen .swiper-slide .desc {
    font-size:24px;
    font-weight:300;
    margin-top:10px;
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.6s ease-in-out 0.6s, opacity 1s ease-in-out 0.5s;
} 
.fullscreen .swiper-slide .desc .mtop {
    margin-top:20px;
}
.fullscreen .swiper-slide .desc strong {
    font-weight:500;
}
.fullscreen .swiper-slide .desc span, 
.fullscreen .swiper-slide .desc strong{
    display:block;
}
.fullscreen .swiper-slide-active .tag,
.fullscreen .swiper-slide-active .title, 
.fullscreen .swiper-slide-active .desc{
    opacity: 1;
    transform: translateY(0);
}

/* pagination */
.fullscreen .swiper-pagination{width:50px;}
.fullscreen .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets{left:5%;right:0;}
.fullscreen .swiper-pagination-bullet{position:relative;background:#fff !important;opacity:.4 !important;}
.fullscreen .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet{margin:50px 0 !important;}
.fullscreen .swiper-pagination-bullet-active{background:#fff !important;opacity:1 !important;}
.fullscreen .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet:before{content:'';display:block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:40px;height:40px;border-radius:50%;transition:all .3s;opacity:1;}
.fullscreen .swiper-pagination-bullet-active:before{content:'';display:block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:40px;height:40px;border-radius:50%;background-color:rgba(255,255,255,0.1);transition:all .3s;opacity:1;}
.fullscreen .swiper-pagination-bullets span:last-child{display:none !important;}

/* 스크롤다운 */
.fullscreen .scroll_down{position:absolute;width:24px;left:5%;bottom:4.5%;text-align:center;z-index:10;}
.fullscreen .scroll_down i{display:block;position:relative;width:24px;height:36px;border:2px solid #fff;border-radius:15px;}
.fullscreen .scroll_down i:after{content:'';position:absolute;left:50%;top:5px;margin-left:-2px;width:4px;height:8px;border-radius:2px;background:#fff;-webkit-animation:scrollDown 1.2s linear both infinite;animation:scrollDown 1.2s linear both infinite;}
.fullscreen .scroll_down p{position:absolute;top:-20px;left:-2px;font-size:18px;font-weight:300;color:#fff;letter-spacing:0;transform:rotate(270deg);transform-origin:top left;white-space:nowrap;}

@-webkit-keyframes scrollDown {
    0% {
    	top: 5px;
    }
	100% {
		top: 20px;
	}
}
@keyframes scrollDown {
    0% {
    	top: 5px;
    }
	100% {
		top: 20px;
	}
}



/* 반응형 */
@media all and (max-width:1920px) {
}

@media all and (max-width:1440px) {
    .fullscreen .swiper-slide.section03 .text_wrap, 
    .fullscreen .swiper-slide.section05 .text_wrap{
        margin-left:1%;
    }
    .fullscreen .swiper-slide .text_wrap {
        left:8%;
    } 
    .fullscreen .swiper-container-vertical>.swiper-pagination-bullets{left:2%;}
    .fullscreen .scroll-down{left:2%;}
    
}

@media all and (max-width:1024px) {
    .fullscreen .swiper-slide.section03 .text_wrap, 
    .fullscreen .swiper-slide.section05 .text_wrap{
        left:8%;
        margin-left:0;
    }
}

@media all and (max-width:980px) {
    .fullscreen .swiper-slide .tag {font-size:16px;}
    .fullscreen .swiper-slide .title {font-size:50px;}
    .fullscreen .swiper-slide .desc {font-size:22px;}

    .fullscreen .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet{margin:40px 0 !important;}
}

/* 모바일 */
@media all and (max-width:720px) {
    .fullscreen .swiper-container-vertical>.swiper-pagination-bullets{left:13px;}
    .fullscreen .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet{width:6px;height:6px;margin:24px 0 !important;}
    .fullscreen .swiper-pagination-bullet-active:before{width:20px;height:20px;}

    .fullscreen .swiper-slide.section01 .text_wrap, 
    .fullscreen .swiper-slide.section02 .text_wrap {top:auto;bottom:47.3333vw;}
    .fullscreen .swiper-slide.section03 .text_wrap, 
    .fullscreen .swiper-slide.section04 .text_wrap, 
    .fullscreen .swiper-slide.section05 .text_wrap {top:26.666vw;}

    .fullscreen .swiper-slide .pc {display:none;}
    .fullscreen .swiper-slide .mo {display:block;}

    .fullscreen .scroll_down{width:24px;left:50%;margin-left:12px;bottom:5vw;}
    .fullscreen .scroll_down p{font-size:12px;}
    .fullscreen .scroll_down i{border:0;width:20px;}
    .fullscreen .scroll_down i:after{width:1px;height:20px;border-radius:0;animation:scrollDown 1s linear both infinite;}

    @-webkit-keyframes scrollDown {
        0% {
            top: 5px;
        }
        100% {
            top: 10px;
        }
    }
    @keyframes scrollDown {
        0% {
            top: 5px;
        }
        100% {
            top: 10px;
        }
    }
}

@media all and (max-width:640px) {
    .fullscreen .swiper-slide .text_wrap{left:40px;}
    .fullscreen .swiper-slide .tag {font-size:12px;margin-bottom:2px;}
    .fullscreen .swiper-slide .title {font-size:36px;}
    .fullscreen .swiper-slide .desc {font-size:14px;}
}

@media all and (max-width:480px) {

}

@media all and (max-width:360px) {
}

