@charset "utf-8";

/* 마우스휠 스와이퍼 */
.main_vertical{
    position: relative;
}
.main_vertical .swiper-slide {
} 
.main_vertical .swiper-slide .inner{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.main_vertical .swiper-slide img {
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:0;
} 
.main_vertical .swiper-slide .visual_text {
    position:absolute;
    left:24px;
    color:#fff;
    z-index:10;
} 
.main_vertical .swiper-slide .title {
    font-size:60px;
    font-weight:600;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 0.55s ease-in-out, opacity 0.55s ease-in-out;    
}
.main_vertical .swiper-slide .desc {
    font-size:24px;
    margin-top:10px;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 0.55s ease-in-out 0.4s, opacity 0.55s ease-in-out 0.5s;
} 
.main_vertical .swiper-slide .desc span, 
.main_vertical .swiper-slide .desc strong{
    display:block;
}
.main_vertical .swiper-slide-active .title, 
.main_vertical .swiper-slide-active .desc{
    opacity: 1;
    transform: translateX(0);
}

.footer_section{
    display: flex;
    width: 100%;
    height: 190px !important;
    background: #000;
}





/* 반응형 */
@media all and (max-width:1920px){
}

@media all and (max-width:1366px){
}

@media all and (max-width:1024px){
}

@media all and (max-width:800px){
}

@media all and (max-width:480px){
}

@media all and (max-width:360px){
}

