@charset "utf-8";

/* 공통 */
.sub_visual{width:100%;height:200px;background:blueviolet;margin-top:100px;color:#fff;font-size:30px;text-align:center;}
.content{min-height:500px;font-size:30px;text-align:center;}

/* 이용방법 */


/* 이벤트/공지 */


/* 회사소개 */




/* 반응형 */
@media all and (max-width:1920px) {
}

@media all and (max-width:1440px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:980px) {

}

/* 모바일 */
@media all and (max-width:720px) {

}

@media all and (max-width:640px) {

}

@media all and (max-width:480px) {

}

@media all and (max-width:360px) {
}

